/* -----------------------------
   COLORS
----------------------------- */

:root {

  --main-purple: #5b4b8a;
  --background: #ffffff;

}

/* -----------------------------
   PAGE
----------------------------- */

body {

  margin: 0;
  padding: 0;

  background: var(--background);

  color: var(--main-purple);

  font-family: "Cormorant Garamond", serif;

}

/* -----------------------------
   LINKS
----------------------------- */

a {

  color: var(--main-purple);

  text-decoration: underline;

}

a:hover {

  opacity: 0.7;

}

/* -----------------------------
   HEADER
----------------------------- */

.header {

  text-align: center;

  margin-top: 15px;

}

.site-title {

  font-family: "UnifrakturCook", cursive;

  font-size: 3.2rem;

  font-weight: 700;

  margin: 0;

}

.subtitle {

  margin-top: 2px;

  margin-bottom: 0;

  font-size: 0.95rem;

}

/* -----------------------------
   NAVIGATION
----------------------------- */

.nav {

  margin-top: 18px;

  display: flex;

  justify-content: center;

  gap: 34px;

  font-size: 1rem;

}

/* -----------------------------
   BLOG AREA
----------------------------- */

.blog-container {

  width: 55%;

  margin: 45px auto;

}

/* -----------------------------
   BLOG POSTS
----------------------------- */

.blog-post {

  border: 1px solid black;

  padding: 35px;

  margin-bottom: 60px;

  overflow: hidden;

}

/* -----------------------------
   DATE
----------------------------- */

.entry-date {

  font-size: 0.9rem;

  margin-bottom: 10px;

  opacity: 0.8;

}

/* -----------------------------
   BLOG TITLE
----------------------------- */

.blog-title {

  margin-top: 0;

  margin-bottom: 22px;

  font-size: 2rem;

  font-weight: 500;

}

/* -----------------------------
   IMAGE
----------------------------- */

.blog-image {

  float: right;

  width: 38%;

  margin-left: 30px;

  margin-bottom: 20px;

}

/* -----------------------------
   TEXT
----------------------------- */

.blog-text {

  font-size: 1.08rem;

  line-height: 1.8;

}

/* -----------------------------
   MOBILE
----------------------------- */

@media (max-width: 900px) {

  .blog-container {

    width: 90%;

  }

  .blog-image {

    float: none;

    width: 100%;

    margin-left: 0;

  }

  .site-title {

    font-size: 2.5rem;

  }

  .nav {

    gap: 20px;

    flex-wrap: wrap;

  }

   /* bouncing start */

   #bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1; /* keeps it behind your text */
  pointer-events: none;
}

.bg-img {
  position: absolute;
  width: 100px;   /* adjust size */
  height: auto;
  opacity: 1;
}
/* bouncing end */
}
